.button {
	background-color: #a6a6a6;
	font-size: 20px;
	padding: 14px 40px;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	text-decoration: none;
	color: #161616;
	font-family: Roboto, sans-serif;
	display: block;
}
.button:hover {
	background-color: #555555;
	color: white;
}
.center {
	margin: auto;
	width: 50%;
	padding: 20px;
	text-align:center;
}
.inside {
	margin: auto;
	width: 500;
	padding: 20px;
	text-align:center;
}
body {
	font-family: Roboto, sans-serif;
	color: #161616;
}