#container {
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
}

#i {
  font-style: italic;
  font-size: 12;
}

body {
  font-family: "Arial", Helvetica, sans-serif;
}


div {
  #border-style: dotted;
}

a {
  text-decoration: none;
}
